In [485]:
import pandas as pd

In [486]:
### Reading data

In [487]:
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [488]:
### Dimensions Of the data

In [489]:
print(titanic_train.shape)
print(titanic_test.shape)

(891, 12)
(418, 11)

In [490]:
### Data Types

In [491]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [492]:
### Changing attributes to relevant format

In [493]:
titanic_train.Survived = titanic_train.Survived.astype('category')
titanic_train.Pclass = titanic_train.Pclass.astype('category')
titanic_train.Sex = titanic_train.Sex.astype('category')
titanic_train.Embarked = titanic_train.Embarked.astype('category')

In [494]:
titanic_test.Pclass = titanic_test.Pclass.astype('category')
titanic_test.Sex = titanic_test.Sex.astype('category')
titanic_test.Embarked = titanic_test.Embarked.astype('category')

In [495]:
titanic_train.dtypes

PassengerId       int64
Survived       category
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked       category
dtype: object

In [496]:
titanic_test.dtypes

PassengerId       int64
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked       category
dtype: object

In [497]:
a = [ 'Survived', 'Pclass', 'Sex', 'Embarked']
# Encoding the Labels
for i in a: 
    titanic_train[i] = titanic_train[i].cat.codes
    titanic_train[i] = titanic_train[i].astype('category')

In [498]:
a =  [ 'Pclass', 'Sex', 'Embarked']
for i in a: 
    titanic_test[i] = titanic_test[i].cat.codes
    titanic_test[i] = titanic_test[i].astype('category')

In [499]:
titanic_train.Name = titanic_train.Name.astype('str') # String
titanic_train.Age = titanic_train.Age.astype('int64',errors='ignore') # integer

# Test
titanic_test.Name = titanic_test.Name.astype('str') # String
titanic_test.Age = titanic_test.Age.astype('int64',errors='ignore') # integer

In [500]:
### Checking for missing values

In [501]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [502]:
titanic_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [503]:
titanic_train = titanic_train.drop(['Cabin'],axis = 1) # Has 80% missing values,so we should drop it
titanic_test = titanic_test.drop(['Cabin'],axis = 1) # Has 80% missing values,so we should drop it

In [504]:
import fancyimpute

In [505]:
from fancyimpute import KNN,simple_fill

In [506]:
num_attr = titanic_train.loc[:,['PassengerId','Age', 'SibSp','Parch','Fare']]
n_attr = titanic_test.loc[:,['PassengerId','Age', 'SibSp','Parch','Fare']]

In [507]:
### Imputation

In [508]:
imputed = KNN(k = 3).complete(num_attr) #knn imputation
# Test
t_imputed =  KNN(k = 3).complete(n_attr)

Imputing row 1/891 with 0 missing, elapsed time: 0.142
Imputing row 101/891 with 0 missing, elapsed time: 0.142
Imputing row 201/891 with 0 missing, elapsed time: 0.142
Imputing row 301/891 with 1 missing, elapsed time: 0.146
Imputing row 401/891 with 0 missing, elapsed time: 0.146
Imputing row 501/891 with 0 missing, elapsed time: 0.146
Imputing row 601/891 with 0 missing, elapsed time: 0.146
Imputing row 701/891 with 0 missing, elapsed time: 0.150
Imputing row 801/891 with 0 missing, elapsed time: 0.150
Imputing row 1/418 with 0 missing, elapsed time: 0.031
Imputing row 101/418 with 0 missing, elapsed time: 0.031
Imputing row 201/418 with 1 missing, elapsed time: 0.031
Imputing row 301/418 with 0 missing, elapsed time: 0.031
Imputing row 401/418 with 0 missing, elapsed time: 0.031

In [509]:
imputed = pd.DataFrame(imputed)
t_imputed = pd.DataFrame(t_imputed)

In [510]:
imputed.columns= ['PassengerId','Age', 'SibSp','Parch','Fare'] #Assigning coloumn names for train
t_imputed.columns= ['PassengerId','Age', 'SibSp','Parch','Fare'] #Assigning coloumn names for test

In [511]:
s = titanic_test.PassengerId

In [512]:
c = ['PassengerId','Age', 'SibSp','Parch']
for i in c:
    imputed[i] = imputed[i].astype('int64')# giving the right format-Train
    t_imputed[i] = t_imputed[i].astype('int64')# giving the right format-Test

In [513]:
titanic_train = titanic_train.drop(['PassengerId','Age', 'SibSp','Parch','Fare'],1) 
titanic_test = titanic_test.drop(['PassengerId','Age', 'SibSp','Parch','Fare'],1)

In [514]:
d = [titanic_train,imputed]
final = pd.concat(d,axis=1) # Getting final dataset - Train

t = [titanic_test,t_imputed]
t_final = pd.concat(t,axis=1) # Test

In [515]:
final.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Ticket', 'Embarked',
       'PassengerId', 'Age', 'SibSp', 'Parch', 'Fare'],
      dtype='object')

In [516]:
### Feature Engineering

In [517]:
final['Total_Family'] = final.SibSp+final.Parch+1
t_final['Total_Family'] = t_final.SibSp+t_final.Parch+1

In [518]:
final = final.drop(['Ticket','Name','PassengerId','SibSp','Parch'],1) # drop unused columns
t_final = t_final.drop(['Ticket','Name','PassengerId','SibSp','Parch'],1) # drop unused columns

In [521]:
final.dtypes

Survived        category
Pclass          category
Sex             category
Embarked        category
Age                int64
Fare             float64
Total_Family       int64
dtype: object

In [522]:
### Class Imbalance

In [523]:
final.Survived.value_counts() # There is no class imbalance

0    549
1    342
Name: Survived, dtype: int64

In [524]:
test = t_final

In [525]:
y_train = final.Survived # Target Variable
x_train = final.drop(['Survived'],1) # Training data

In [526]:
### Model Building

In [527]:
#### Logistic Model

In [528]:
from sklearn.linear_model import LogisticRegression

In [529]:
log_model = LogisticRegression()

In [530]:
log_model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [535]:
log_pred = log_model.predict(test) # Predictions

In [536]:
v = [s,pd.DataFrame(log_pred)]

pred = pd.concat(v,axis = 1)

In [537]:
pred.columns = ['PassengerId', 'Survived']

In [538]:
pred.to_csv('predictions.csv',index=False)

In [539]:
#### Decision Tree

In [540]:
from sklearn.tree import DecisionTreeClassifier

In [541]:
decision_model = DecisionTreeClassifier(class_weight='balanced')

In [542]:
decision_model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [543]:
decision_pred = decision_model.predict(test)

In [544]:
decision_pred = pd.DataFrame(decision_pred)

In [545]:
v = [s,decision_pred]

pred = pd.concat(v,axis = 1)

In [546]:
pred.columns =  ['PassengerId', 'Survived']

In [547]:
pred.to_csv('gender_submission.csv',index=False)

In [548]:
#### SVM

In [549]:
from sklearn import svm

In [550]:
svm_model = svm.LinearSVC()

In [551]:
svm_model.fit(x_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [552]:
svm_pred = svm_model.predict(test)

In [553]:
v = [s,pd.DataFrame(svm_pred)]

pred = pd.concat(v,axis = 1)
pred.columns =  ['PassengerId', 'Survived']

In [554]:
pred.to_csv('gender_submission.csv',index=False)

In [555]:
### Random Forest

In [556]:
from sklearn.ensemble import RandomForestClassifier

In [557]:
rand_model = RandomForestClassifier(n_estimators=50)

In [558]:
rand_model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=50, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [559]:
print(rand_model.feature_importances_)
print(final.columns)

[ 0.08233055  0.26747754  0.03361226  0.27556971  0.25922833  0.0817816 ]
Index(['Survived', 'Pclass', 'Sex', 'Embarked', 'Age', 'Fare', 'Total_Family'], dtype='object')

In [560]:
rand_pred = rand_model.predict(test)

In [561]:
v = [s,pd.DataFrame(rand_pred)]

pred = pd.concat(v,axis = 1)
pred.columns =  ['PassengerId', 'Survived']

In [562]:
pred.to_csv('gender_submission.csv',index=False)

In [563]:
#### Boosting

In [564]:
from sklearn.ensemble import GradientBoostingClassifier

In [565]:
boost_model = GradientBoostingClassifier()

In [566]:
boost_model.fit(x_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [567]:
boost_pred = boost_model.predict(test)

In [568]:
v = [s,pd.DataFrame(boost_pred)]

pred = pd.concat(v,axis = 1)
pred.columns =  ['PassengerId', 'Survived']

In [569]:
pred.to_csv('gender_submission.csv',index=False)

In [570]:
#### Majority Voting

In [571]:
a = [pd.DataFrame(log_pred),pd.DataFrame(svm_pred),pd.DataFrame(rand_pred),pd.DataFrame(boost_pred)]

In [572]:
maj = pd.concat(a,1)
maj.columns = ['log','svm','random','boost']

In [573]:
maj_pred = (maj.log+maj.svm+maj.random+maj.boost)/4

In [574]:
pred = []
for i in maj_pred:
    if i<=0.5:
        pred.append(0)
    else:
        pred.append(1)

In [575]:
v = [s,pd.DataFrame(pred)]

pred = pd.concat(v,axis = 1)
pred.columns =  ['PassengerId', 'Survived']

In [576]:
pred.to_csv('gender_submission.csv',index=False)